@import "tailwindcss";

@theme {
  --font-tanker: "Tanker", sans-serif;
}

@font-face {
  font-family: "Tanker";
  src: url("./assets/fonts/Tanker-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Tanker", sans-serif;
}